html,
body {
	margin: 0px;
}
#testContainer {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.carousel-container {
width: 80%;
}
.carousel {
    aspect-ratio: 16 / 9;
	display: grid;
	grid-template-columns: 5% auto 5%;
	grid-template-rows: auto 10%;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.UI-icons {
	width: 25%;
    cursor: pointer;
}
.UI-icons:hover {
    transform: scale(1.2, 1.2);
    transition: transform 0.2s;
}

.arrow-left {
	grid-column: 1;
	grid-row: 1;
	justify-self: center;
}
.arrow-right {
	grid-column: 3;
	grid-row: 1;
	justify-self: center;
}
.img-container {
	grid-column: 2;
	grid-row: 1;
	overflow: hidden;
}
.slide-container {
	display: flex;
	height: 80%;
    transition: transform ease-in-out 1s;
}
.dot-container {
    grid-column: 1 / span 3;
	grid-row: 2;
	display: flex;
    justify-content: center;
}
.dot {
	width: 1vh;
	height: 1vh;
	border-radius: 50%;
    background-color: grey;
    margin: 0.5rem;
    cursor: pointer;
    transition: transform 0.4s;
}
.dot:hover {
    background-color: rgb(38, 39, 43);
    transform: scale(2, 2);
    transition: transform ease-in-out 0.4s;
}
.dot-selected {
    background-color: rgb(38, 39, 43);
    transform: scale(2, 2);
    transition: transform ease-in-out 0.4s;
}
.image {
	max-width: 100%;
	max-height: 100%;
}
